@tailwind base;
@tailwind components;
@tailwind utilities;

*{
background-image: url("../public/background.jpg");
}
.handjet-sps {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.black-ops-one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
